{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron container-fluid" style="background-image: url(/fig/HeaderPict3.jpg); background-size: cover;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{{page.title}}</h1>
      <br>
      <h2>{{page.venue}}</h2>
      <br>
      <div class="row">
        <div class="col-md-5">
          <p><strong>{{page.humandate}}</strong></p>
          <p><strong>{% if page.humantime %}{{page.humantime}}{% endif %}</strong></p>
        </div>
        <div class="col-md-7">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          <strong>{{page.instructor | join: ', ' %}}</strong>
          {% else %}
          to be announced.
          {% endif %}
          </p>
          <p>
          <strong>Helpers:</strong>
          {% if page.helper %}
          <strong>{{page.helper | join: ', ' %}}</strong>
          {% else %}
          <strong>to be announced.</strong>
          {% endif %}
          </p>
          <br>
          <br>
          <p>
          <button style="background-color:#468fe3; border-color:#6eadf5; width:300px; height:100px; position:absolute; right:0"; onclick="window.location.href = 'https://www.eventbrite.fr/e/introduction-to-rna-seq-workshop-tickets-157456636037';"><strong>&nbsp;&nbsp;&nbsp;Sign-up&nbsp;&nbsp;&nbsp</strong></button>
          <br>
          <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
