<p>
This workshop is organized by the core members of the <a href="https://www.scienceparkstudygroup.info/">Amsterdam Science Park Study Group</a>. This small community of computational biologists aims to promote skill sharing and collaboration through the organisation of interactive workshops.  It acts as the main local hub to set-up Software and Data Carpentry workshops (official workshops and Carpentry-style). All are welcome to this study group, regardless of scientific research area, affiliation or training level.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    see our website: 
    "<a href="https://www.scienceparkstudygroup.info">scienceparkstudygroup</a>".
  </em>
</p>
<p>
<br>
<br>
<br>
</p>




