
<p>
<br>
This workshop is meant to teach important notions in RNA-Seq such as how to align sequencing reads to a genome, how to perform a differential expression analysis and how to go beyond a list of genes (functional enrichment, integration with metabolic pathways).
We will first introduce RNA-Seq experimental design and main post-sequencing steps, what is important to know in RNA-Seq, etc. to give an overview of what you can achieve with this technique.
Then it will be followed by a hands-on session where we will execute the different steps one by one in the cloud and look at the output files.
<br>
This workshop is part of the <a href="https://scienceparkstudygroup.github.io/2021_summer_school/">2021 Summer School</a> organised by the <a href="https://www.scienceparkstudygroup.info/">Amsterdam Science Park Study Group</a>. This event is made possible thanks to the support of the <a href="https://www.nwo.nl/en/news/winners-announced-five-new-nwo-science-awards">NWO Team Science Award (2020 edition)</a>.  

<br>
<br>
</p>
