<!--
Introduction to RNA-seq
-->
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td> Morning<br>(9:30-11:00)</td>
	<td> <a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/01-introduction/index.html">Introduction</a><br>(Marc) </td>
      </tr>
      <tr>
        <td>Coffee</td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/03-qc-of-sequencing-results/index.html">Fastq file fomat and Quality control.</a><br>(Tijs)</td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:45-15:15)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/03-qc-of-sequencing-results/index.html">Mapping to the reference genome.</a><br>(Tijs)</td>
      </tr>
      <tr>
        <td>Tea </td>
        <td>  </td>
      </tr>
      <tr>
	<td>Afternoon<br>(15:30-17:00)</td>
	<td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/04-bioinformatic-workflow/index.html">The Bam/Sam file format and counting.</a><br>(Tijs)</td>
      </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning<br>(9:30-11:00)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/05-descriptive-plots/index.html">Exploration of RNA-seq count results</a><br>(Marc)</td>
      </tr>  
      <tr>
        <td>Coffee</td>
        <td>  </td> 
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/06-differential-analysis/index.html">Differential expression analysis.</a><br> (Marc)</td> 
      </tr>
      <tr>
        <td> Lunch </td>
        <td>  </td>
      </tr>
      <tr> 
        <td>Afternoon<br>(13:45-15:15)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/08-cluster-analysis/index.html">Cluster analysis</a><br>(Tijs)</td>
      </tr>
      <tr>
        <td> Tea </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td><a href="https://scienceparkstudygroup.github.io/rna-seq-lesson/07-functional-enrichment/index.html">Functional enrichment analysis.</a><br>(Marc)</td>
      </tr>
    </table>
  </div>
</div>


<!--
<div class="row">
  <div class="col-md-4">
    <h3>Day 1 Oct 29</h3>
    <table class="table table-striped">
      <tr>
        <td><br><br></td>
        <td><br></td>
      </tr>
      <tr>
        <td><br></td>
        <td>  </td>
      </tr>
      <tr>
        <td>Before start<br><br></td>
        <td> <a href=" {{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td><br></td>
        <td> </td>
        </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 1</a></td></tr>
     <tr>
        <td> Tea  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 2</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2 Oct 30</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 1 </td>
      </tr>
      <tr>
        <td> Coffee </td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 2 </td>
      </tr>
      <tr>
        <td> Lunch  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
       <td> R session 3</td>
      </tr>
      <tr>
        <td> Tea  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> R session 4 </td>
      </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3 Oct 31</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 5 </td>
      </tr>
      <tr>
        <td> Coffee</td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 6 </td>
      </tr>
      <tr>
        <td> Lunch </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td>Version Control with Git</td>
      </tr>
      <tr>
        <td> Tea </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> guest speaker </td>
      </tr>
    </table>
  </div>
</div>
-->
